server {
  listen 80;
  server_name{% for subdomain in item[1].prefix %} {{ subdomain }}{{ item[0].domain }}{% endfor %};

  location /.well-known/acme-challenge/ {
    root {{ certificate_path }};
  }

  location / {
      return 301 https://$host$request_uri;
  }
}

server {
  listen 443 ssl;

  ssl_certificate {{certificate_path}}live/{{ item[1].name }}.{{ item[0].domain }}/fullchain.pem;
  ssl_certificate_key {{certificate_path}}live/{{ item[1].name }}.{{ item[0].domain }}/privkey.pem;

  server_name{% for subdomain in item[1].prefix %} {{ subdomain }}{{ item[0].domain }}{% endfor %};

  location / {
    proxy_pass_header Authorization;
    proxy_pass http://127.0.0.1:8080/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }

  location /skyrim-tool/ {
    sub_filter '<base href="/"' '<base href="/skyrim-tool/"';
    proxy_pass_header Authorization;
    proxy_pass http://127.0.0.1:5000/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
  
  location /ffviii/ {
    sub_filter '<base href="/"' '<base href="/ffviii/"';
    proxy_pass_header Authorization;
    proxy_pass http://127.0.0.1:6000/;
    proxy_set_header Host $host;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}