listen_addresses = 'localhost, {{ db_host }}'

max_connections = 100

shared_buffers = 128MB

dynamic_shared_memory_type = posix

max_wal_size = 1GB
min_wal_size = 80MB

log_destination = 'stderr'
log_directory = 'log'
log_filename = 'postgresql-%a.log'
log_truncate_on_rotation = on
log_rotation_age = 1d
log_rotation_size = 0
log_timezone = 'Etc/UTC'

datestyle = 'iso, mdy'
timezone = 'Etc/UTC'
lc_messages = 'en_US.UTF-8'
lc_monetary = 'en_US.UTF-8'
lc_numeric = 'en_US.UTF-8'
lc_time = 'en_US.UTF-8'
default_text_search_config = 'pg_catalog.english'