server {
  listen 80;
  server_name {{ item[1] }}.{{ item[0].domain }};

  location /.well-known/acme-challenge/ {
    root {{ certificate_path }};
  }

  include /etc/nginx/conf.d/ssl/plex_ssl[.]conf;
  
  location / {
    proxy_http_version 1.1;
    proxy_pass_header Authorization;
    proxy_pass https://{{ plex_endpoint }};
    proxy_set_header Host {{ plex_endpoint }};
    proxy_set_header X-Real-IP $remote_addr;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Forwarded-Proto $scheme;
  }
}